<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Dados do perfil</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% if @user.errors.any? %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Não foi possível salvar as alterações.
                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            </div> <!-- /.col-lg-12 -->
          </div> <!-- /.row -->
        <% end %>
        <br>
        <%= form_with url: users_backoffice_profile_path, model:@user, local: true, class: "form-horizontal form-label-left" do |form| %>
          <div class="form-group">
            <%= form.label :first_name, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= form.text_field :first_name, class: 'form-control col-md-7 col-xs-12', placeholder: t('placeholders.devise.first_name') %>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :last_name, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= form.text_field :last_name, class: 'form-control col-md-7 col-xs-12', placeholder: t('placeholders.devise.last_name') %>
            </div>
          </div>
          <%= form.fields_for :user_profile do |profile_form| %>
            <div class="form-group">
              <%= profile_form.label :birthdate, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= profile_form.text_field :birthdate, class: 'form-control col-md-7 col-xs-12 datepicker' %>
              </div>
            </div>
            <div class="form-group">
              <%= profile_form.label :gender, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="gender" class="btn-group" data-toggle="buttons">
                  <label class="btn <%= gender_selector(@user, 'M') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <%= profile_form.radio_button :gender, 'M', 'data-parsley-multiple': 'gender' %> &nbsp; Masculino &nbsp;
                  </label>
                  <label class="btn <%= gender_selector(@user, 'F') %>" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <%= profile_form.radio_button :gender, 'F', 'data-parsley-multiple': 'gender' %> &nbsp; Feminino &nbsp;
                  </label>
                </div>
              </div>
              <%= javascript_tag do %>
                var gender_labels = document.querySelectorAll('div#gender label');

                gender_labels.forEach( label => {
                  label.addEventListener('click', () => {
                    label.classList.replace("btn-default", "btn-primary");
                    
                    gender_labels.forEach( lbl => {
                      if (lbl !== label)
                        lbl.classList.replace("btn-primary", "btn-default");
                    });
                  });
                });
              <% end %>
            </div>
            <div class="form-group">
              <%= profile_form.label :address, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <%= profile_form.text_field :address, class: 'form-control col-md-7 col-xs-12' %>
              </div>
            </div>
          <% end %>
          <div class="form-group">
            <%= form.label :email, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= form.text_field :email, type: 'email', class: 'form-control col-md-7 col-xs-12', placeholder: t('placeholders.devise.email'), readonly: true %>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :password, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= form.password_field :password, class: 'form-control col-md-7 col-xs-12', placeholder: t('placeholders.devise.password') %>
            </div>
          </div>
          <div class="form-group">
            <%= form.label :password_confirmation, class: 'control-label col-md-3 col-sm-3 col-xs-12' %>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= form.password_field :password_confirmation, class: 'form-control col-md-7 col-xs-12', placeholder: t('placeholders.devise.password_confirmation') %>
            </div>
          </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <%= form.submit t('buttons.save'), class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>