<% unless @questions.blank? %>
  <% @questions.each do |question| %>
    <div id="question_<%= question.id %>" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= sanitize question.description %>
        </h3>
      </div>

      <%= form_with url: site_answer_path do |form|%>
        <div class="list-group">
          <ul>
            <% question.answers.each do |answer| %>
              <li class="radio">
                <label>
                  <%= radio_button_tag 'answer', answer.id %>
                  <%= answer.description %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="panel-footer" style="display: flex; justify-content: space-between; align-items: center;">
          <%= link_to site_search_subject_path(question.subject_id, question.subject.description), style: "color: white; margin-right: 10px; text-decoration: none;" do %>
            <span class="label label-info">
              <%= "#{question.subject.description} (#{question.subject.questions_count})" %>
            </span>
          <% end %>

          <div>
            <b><small id="message_<%= question.id %>"></small></b>
            <%= form.submit 'Responder', class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="lead">
    <small>
      Nenhuma pergunta foi encontrada para o termo: <b><%= params[:term] %></b>
    </small>
  </p>
<% end %>