<div class="page-header">
  <h2>Todas as perguntas</h2>
</div>

<div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;">
  <% unless @questions.blank? %>
    <span>
      <%= "#{ @questions.total_count } #{ @questions.total_count != 1 ? "perguntas" : "pergunta" }" %>
    </span>
  <% end %>

  <%= form_with url: site_questions_path, local: true, method: :get, class: "form-inline" do |form| %>
    <div class="form-group">
      <%= form.select :field, [['Descrição', 'description'], ['Data de criação', 'created_at']], {}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= form.select :order, ['ASC', 'DESC'], {}, {class: "form-control"} %>
    </div>
    <%= form.submit 'Filtrar', class: "btn btn-default" %>
  <% end %>
</div>


<%= render partial: 'site/shared/questions' %>

<% if user_signed_in? %>
  <%# Pagination %>
  <div class="row">
    <div class="col-lg-12 text-center">
      <%= paginate @questions %>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->
<% else %>
  <div class="alert alert-warning" role="alert">
    Efetue login para poder navegar em todas as perguntas...
  </div>
<% end %>

