<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h2>Bem-vindo ao Time to Answer!</h2>
  <p>Um site de perguntas e respostas para praticar os seus estudos. Cadastre-se para ter acesso a todas as perguntas e favoritá-las!</p>
</div>

<div class="page-header">
  <h3>Assuntos mais populares</h3>
</div>
<div class="row">
  <% @subjects.each do |subject| %>
    <div class="col-sm-6 col-md-4" >
      <%= link_to site_subject_path(subject.id) do %>
        <div class="thumbnail">
          <div class="caption">
            <h4><%= subject.description.truncate(30) %></h4>
            <p><%= "#{ subject.questions_count } #{ subject.questions_count != 1 ? "perguntas" : "pergunta" }" %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-right">
  <%= link_to 'Ver todos...', site_subjects_path %>
</div>

<div class="page-header">
  <h3>Perguntas mais recentes</h3>
</div>
<%= render partial: 'site/shared/questions' %>
<div class="text-right">
  <%= link_to 'Ver todas...', site_questions_path %>
</div>
